<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="../../css/custom.css"
</head>
<body>
    <header>
        {{> _navbar}}
        {{> _msg}}
    </header>
   <div>
        {{{body}}}
   </div>

    <script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>